.App {
  min-height: 80vh;
}

.profile-image img {
  width: 120px;
  height: 120px;
}

.navigation .nav-tabs .nav-item {
  margin-left: 1rem;
  margin-right: 1rem;
}

.tab-content {
  padding-top: 1rem;
}

.profile-page {
  background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
